pkgbase = pacman
	pkgdesc = A library-based package manager with dependency support
	pkgver = 7.0.0.r1.g7cf2b01
	pkgrel = 1
	url = https://www.archlinux.org/pacman/
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = python
	checkdepends = fakechroot
	makedepends = meson
	makedepends = asciidoc
	makedepends = doxygen
	makedepends = git
	depends = bash
	depends = glibc
	depends = libarchive
	depends = curl
	depends = gpgme
	depends = pacman-mirrorlist
	depends = gettext
	depends = gawk
	depends = coreutils
	depends = gnupg
	depends = grep
	optdepends = perl-locale-gettext: translation support in makepkg-template
	provides = libalpm.so
	backup = etc/pacman.conf
	backup = etc/makepkg.conf
	source = git+https://gitlab.archlinux.org/pacman/pacman.git#commit=7cf2b0186d873be4218fe5be127dd029a0af03fe
	source = revertme-makepkg-remove-libdepends-and-libprovides.patch::https://gitlab.archlinux.org/pacman/pacman/-/commit/354a300cd26bb1c7e6551473596be5ecced921de.patch
	source = pacman.conf
	source = makepkg.conf
	validpgpkeys = 6645B0A8C7005E78DB1D7864F99FFE0FEAE999BD
	validpgpkeys = B8151B117037781095514CA7BBDFFC92306B1121
	sha256sums = 955e38a88c99a42600f24219a3084855d2d37dc10df5473604e62913876cb42b
	sha256sums = b3bce9d662e189e8e49013b818f255d08494a57e13fc264625f852f087d3def2
	sha256sums = 656c4d4cb8cb12adbf178fc8cb2fd25f8c285d6572bbdbb24d865d00e0d5a85a
	sha256sums = 23d512b4d504c36fd49b58a32eb1a93a7f2ed67424a3672fc3c645cb443ad6f7

pkgname = pacman
