pkgbase = pacman
	pkgdesc = A library-based package manager with dependency support
	pkgver = 7.0.0.r1.g7cf2b01
	pkgrel = 1
	url = https://www.archlinux.org/pacman/
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = fakechroot
	checkdepends = python
	makedepends = asciidoc
	makedepends = doxygen
	makedepends = git
	makedepends = meson
	depends = bash
	depends = coreutils
	depends = curl
	depends = gawk
	depends = gettext
	depends = glibc
	depends = gnupg
	depends = gpgme
	depends = grep
	depends = libarchive
	depends = pacman-mirrorlist
	depends = systemd
	optdepends = perl-locale-gettext: translation support in makepkg-template
	provides = libalpm.so
	backup = etc/pacman.conf
	backup = etc/makepkg.conf
	source = git+https://gitlab.archlinux.org/pacman/pacman.git#tag=v7.0.0?signed
	source = revertme-makepkg-remove-libdepends-and-libprovides.patch::https://gitlab.archlinux.org/pacman/pacman/-/commit/354a300cd26bb1c7e6551473596be5ecced921de.patch
	source = pacman.conf
	source = makepkg.conf
	source = alpm.sysusers
	validpgpkeys = 6645B0A8C7005E78DB1D7864F99FFE0FEAE999BD
	validpgpkeys = B8151B117037781095514CA7BBDFFC92306B1121
	sha256sums = 06d082c3ce6f0811ca728515aa82d69d372800bd3ada99f5c445ef9429b6e3a6
	sha256sums = b3bce9d662e189e8e49013b818f255d08494a57e13fc264625f852f087d3def2
	sha256sums = 0e84952e4b8eacbb38c018608d152ddd6f98e205c4c6c7d3cdca854d4b7d4179
	sha256sums = 23d512b4d504c36fd49b58a32eb1a93a7f2ed67424a3672fc3c645cb443ad6f7
	sha256sums = c8760d7ebb6c9817d508c691c67084be251cd9c8811ee1ccf92c1278bad74c1c

pkgname = pacman
